Before you turn this problem in, make sure everything runs as expected. First, **restart the kernel** (in the menubar, select Kernel$\rightarrow$Restart) and then **run all cells** (in the menubar, select Cell$\rightarrow$Run All).

Make sure you fill in any place that says `YOUR CODE HERE` or "YOUR ANSWER HERE", as well as your name and collaborators below:

In [166]:
NAME = "William Sheu"
COLLABORATORS = ""

---

# Homework 1: Food Safety 
## Cleaning and Exploring Data with Pandas
## Due Date: Thursday 9/13, 11:59 PM
## Course Policies

Here are some important course policies. These are also located at
http://www.ds100.org/fa18/.

**Collaboration Policy**

Data science is a collaborative activity. While you may talk with others about
the homework, we ask that you **write your solutions individually**. If you do
discuss the assignments with others please **include their names** at the top
of your notebook.

## This assignment
<img src="scoreCard.jpg" width=400>

In this homework, you will investigate restaurant food safety scores for restaurants in San Francisco. Above is a sample score card for a restaurant. The scores and violation information have been made available by the San Francisco Department of Public Health and we have made these data available to you via the DS 100 repository. The main goal for this assignment is to understand how restaurants are scored. We will walk through the various steps of exploratory data analysis to do this. We will provide comments and insights along the way to give you a sense of how we arrive at each discovery and what next steps it leads to.

As we clean and explore these data, you will gain practice with:
* Reading simple csv files
* Working with data at different levels of granularity
* Identifying the type of data collected, missing values, anomalies, etc.
* Exploring characteristics and distributions of individual variables

## Score breakdown
Question | Points
--- | ---
1a | 1
1b | 0
1c | 0
1d | 3
1e | 1
2a | 1
2b | 2
3a | 2
3b | 0
3c | 2
3d | 1
3e | 1
4a | 2
4b | 3
5a | 1
5b | 1
5c | 1
6a | 2
6b | 3
6c | 3
7a | 2
7b | 2
7c | 6
7d | 2
7e | 3
Total | 45

To start the assignment, run the cell below to set up some imports and the automatic tests that we will need for this assignment:

In many of these assignments (and your future adventures as a data scientist) you will use `os`, `zipfile`, `pandas`, `numpy`, `matplotlib.pyplot`, and `seaborn`.  

1. Import each of these libraries `as` their commonly used abbreviations (e.g., `pd`, `np`, `plt`, and `sns`).  
1. Don't forget to include `%matplotlib inline` which enables [inline matploblib plots](http://ipython.readthedocs.io/en/stable/interactive/magics.html#magic-matplotlib). 
1. Add the line `sns.set()` to make your plots look nicer.

In [167]:
import os
import zipfile
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
sns.set()

In [168]:
import sys

assert 'zipfile'in sys.modules
assert 'pandas'in sys.modules and pd
assert 'numpy'in sys.modules and np
assert 'matplotlib'in sys.modules and plt
assert 'seaborn'in sys.modules and sns

## Downloading the data

For this assignment, we need this data file: http://www.ds100.org/fa18/assets/datasets/hw2-SFBusinesses.zip

We could write a few lines of code that are built to download this specific data file, but it's a better idea to have a general function that we can reuse for all of our assignments. Since this class isn't really about the nuances of the Python file system libraries, we've provided a function for you in ds100_utils.py called `fetch_and_cache` that can download files from the internet.

This function has the following arguments:
- data_url: the web address to download
- file: the file in which to save the results
- data_dir: (default="data") the location to save the data
- force: if true the file is always re-downloaded 

The way this function works is that it checks to see if `data_dir/file` already exists. If it does not exist already or if `force=True`, the file at `data_url` is downloaded and placed at `data_dir/file`. The process of storing a data file for reuse later is called caching. If `data_dir/file` already and exists `force=False`, nothing is downloaded, and instead a message is printed letting you know the date of the cached file.

The function returns a `pathlib.Path` object representing the file. A `pathlib.Path` is an object that stores filepaths, e.g. `~/Dropbox/ds100/horses.txt`.

The code below uses `ds100_utils.py` to download the data from the following URL: http://www.ds100.org/fa18/assets/datasets/hw2-SFBusinesses.zip

In [169]:
import ds100_utils
source_data_url = 'http://www.ds100.org/fa18/assets/datasets/hw2-SFBusinesses.zip'
target_file_name = 'data.zip'
data_dir = '.'

# Change the force=False -> force=True in case you need to force redownload the data
dest_path = ds100_utils.fetch_and_cache(data_url=source_data_url, data_dir=data_dir, file=target_file_name, force=False)

Using cached version that was downloaded (UTC): Thu Sep  6 16:47:44 2018

After running the code, if you look at the directory containing hw1.ipynb, you should see data.zip.

---
## 1: Loading Food Safety Data

Alright, great, now we have `data.zip`. We don't have any specific questions yet, so let's focus on understanding the structure of the data. Recall this involves answering questions such as 

* Is the data in a standard format or encoding?
* Is the data organized in records?
* What are the fields in each record?

Let's start by looking at the contents of the zip file. We could in theory do this by manually opening up the zip file on our computers or using a shell command like `!unzip`, but on this homework we're going to do almost everything in Python for maximum portability and automation.

**Goal**: Fill in the code below so that `my_zip` is a `Zipfile.zipfile` object corresponding to the downloaded zip file, and so that `list_names` contains a list of the names of all files inside the downloaded zip file.

Creating a `zipfile.Zipfile` object is a good start (the [Python docs](https://docs.python.org/3/library/zipfile.html) have further details). You might also look back at the code from the case study from lecture 2, [02-case-study.ipynb](http://www.ds100.org/fa18/assets/lectures/lec02/02-case-study.nbconvert.html). It's OK to copy and paste code from the 02-case-study file, though you might get more out of this exercise if you type out an answer.

### Question 1a: Looking Inside and Extracting the Zip Files

In [170]:
# Fill in the list_files variable with a list of all the names of the files in the zip file
import zipfile
my_zip = zipfile.ZipFile(dest_path)
list_names = my_zip.namelist()
list_names

# YOUR CODE HERE
#raise NotImplementedError()

['violations.csv', 'businesses.csv', 'inspections.csv', 'legend.csv']

The cell below will test that your code is correct.

In [171]:
assert isinstance(my_zip, zipfile.ZipFile)
assert isinstance(list_names, list)
assert all([isinstance(file, str) for file in list_names])

In your answer above, if you see something like `zipfile.ZipFile('data.zip'...`, we suggest changing it to read `zipfile.ZipFile(dest_path...` or alternately `zipfile.ZipFile(target_file_name...`. In general, we **strongly suggest having your filenames hard coded ONLY ONCE** in any given iPython notebook. It is very dangerous to hard code things twice, because if you change one but forget to change the other, you can end up with very hard to find bugs.

Now display the files' names and their sizes.

If you're not sure how to proceed, read about the attributes of a `ZipFile` object in the Python docs linked above.

In [172]:
# YOUR CODE HERE

for info in my_zip.infolist():
    print(str(info.filename) + ": " + str(info.file_size) + " bytes")

#raise NotImplementedError()

violations.csv: 3726206 bytes
businesses.csv: 660231 bytes
inspections.csv: 466106 bytes
legend.csv: 120 bytes

Often when working with zipped data, we'll never unzip the actual zipfile. This saves space on our local computer. However, for this HW, the files are small, so we're just going to unzip everything. This has the added benefit that you can look inside the csv files using a text editor, which might be handy for more deeply understanding what's going on. The cell below will unzip the csv files into a subdirectory called "data". Try running the code below.

In [173]:
from pathlib import Path
data_dir = Path('data')
my_zip.extractall(data_dir)

When you ran the code above, nothing gets printed. However, this code should have created a folder called "data", and in it should be the four CSV files. Assuming you're using Datahub, use your web browser to verify that these files were created, and try to open up `legend.csv` to see what's inside. You should see something that looks like:

    "Minimum_Score","Maximum_Score","Description"
    0,70,"Poor"
    71,85,"Needs Improvement"
    86,90,"Adequate"
    91,100,"Good"

### Question 1b: Programatically Looking Inside the Files

What we see when we opened the file above is good news! It looks like this file is indeed a csv file. Let's check the other three files. This time, rather than opening up the files manually, let's use Python to print out the first 5 lines of each. The `ds100_utils` library has a method called `head` that will allow you to retrieve the first N lines of a file as a list. For example `ds100_utils.head('data/legend.csv', 5)` will return the first 5 lines of "data/legend.csv". Try using this function to print out the first 5 lines of all four files that we just extracted from the zipfile.

In [174]:
# YOUR CODE HERE

for file in list_names:
    print(ds100_utils.head("data/"+file, 5))

#raise NotImplementedError()

['"business_id","date","description"\n', '19,"20171211","Inadequate food safety knowledge or lack of certified food safety manager"\n', '19,"20171211","Unapproved or unmaintained equipment or utensils"\n', '19,"20160513","Unapproved or unmaintained equipment or utensils  [ date violation corrected: 12/11/2017 ]"\n', '19,"20160513","Unclean or degraded floors walls or ceilings  [ date violation corrected: 12/11/2017 ]"\n']
['"business_id","name","address","city","state","postal_code","latitude","longitude","phone_number"\n', '19,"NRGIZE LIFESTYLE CAFE","1200 VAN NESS AVE, 3RD FLOOR","San Francisco","CA","94109","37.786848","-122.421547","+14157763262"\n', '24,"OMNI S.F. HOTEL - 2ND FLOOR PANTRY","500 CALIFORNIA ST, 2ND  FLOOR","San Francisco","CA","94104","37.792888","-122.403135","+14156779494"\n', '31,"NORMAN\'S ICE CREAM AND FREEZES","2801 LEAVENWORTH ST ","San Francisco","CA","94133","37.807155","-122.419004",""\n', '45,"CHARLIE\'S DELI CAFE","3202 FOLSOM ST ","San Francisco","CA","94110","37.747114","-122.413641","+14156415051"\n']
['"business_id","score","date","type"\n', '19,"94","20160513","routine"\n', '19,"94","20171211","routine"\n', '24,"98","20171101","routine"\n', '24,"98","20161005","routine"\n']
['"Minimum_Score","Maximum_Score","Description"\n', '0,70,"Poor"\n', '71,85,"Needs Improvement"\n', '86,90,"Adequate"\n', '91,100,"Good"\n']

### Question 1c: Reading in the Files

Based on the above information, let's attempt to load `businesses.csv`, `inspections.csv`, and `violations.csv` into pandas data frames with the following names: `bus`, `ins`, and `vio` respectively.

*Note:* Because of character encoding issues one of the files (`bus`) will require an additional argument `encoding='ISO-8859-1'` when calling `pd.read_csv`.

In [175]:
# path to directory containing data
dsDir = Path('data')

# Make sure to use these names
bus = pd.read_csv("data/businesses.csv", encoding='ISO-8859-1')
ins = pd.read_csv("data/inspections.csv")
vio = pd.read_csv("data/violations.csv")


# YOUR CODE HERE
#raise NotImplementedError()

Now that you've read in the files, let's try some `pd.DataFrame` methods.
Use the `DataFrame.head` command to show the top few lines of the `bus`, `ins`, and `vio` dataframes.

In [176]:
# YOUR CODE HERE
print(bus.head())
print(ins.head())
print(vio.head())
#raise NotImplementedError()

   business_id                                name  \
0           19               NRGIZE LIFESTYLE CAFE
1           24  OMNI S.F. HOTEL - 2ND FLOOR PANTRY
2           31      NORMAN'S ICE CREAM AND FREEZES
3           45                 CHARLIE'S DELI CAFE
4           48                          ART'S CAFE

                         address           city state postal_code   latitude  \
0   1200 VAN NESS AVE, 3RD FLOOR  San Francisco    CA       94109  37.786848
1  500 CALIFORNIA ST, 2ND  FLOOR  San Francisco    CA       94104  37.792888
2           2801 LEAVENWORTH ST   San Francisco    CA       94133  37.807155
3                3202 FOLSOM ST   San Francisco    CA       94110  37.747114
4                 747 IRVING ST   San Francisco    CA       94122  37.764013

    longitude  phone_number
0 -122.421547  +14157763262
1 -122.403135  +14156779494
2 -122.419004           NaN
3 -122.413641  +14156415051
4 -122.465749  +14156657440
   business_id  score      date     type
0           19     94  20160513  routine
1           19     94  20171211  routine
2           24     98  20171101  routine
3           24     98  20161005  routine
4           24     96  20160311  routine
   business_id      date                                        description
0           19  20171211  Inadequate food safety knowledge or lack of ce...
1           19  20171211   Unapproved or unmaintained equipment or utensils
2           19  20160513  Unapproved or unmaintained equipment or utensi...
3           19  20160513  Unclean or degraded floors walls or ceilings  ...
4           19  20160513  Food safety certificate or food handler card n...

The `DataFrame.describe` method can also be handy for computing summaries of various statistics of our dataframes. Try it out with each of our 3 dataframes.

In [177]:
# YOUR CODE HERE

print(bus.describe)

print(ins.describe)

print(vio.describe)

#raise NotImplementedError()

<bound method NDFrame.describe of       business_id                                  name  \
0              19                 NRGIZE LIFESTYLE CAFE
1              24    OMNI S.F. HOTEL - 2ND FLOOR PANTRY
2              31        NORMAN'S ICE CREAM AND FREEZES
3              45                   CHARLIE'S DELI CAFE
4              48                            ART'S CAFE
5              54                   RHODA GOLDMAN PLAZA
6              56                            CAFE X + O
7              58                           OASIS GRILL
8              61                              CHOWDERS
9              66                      STARBUCKS COFFEE
10             67                       REVOLUTION CAFE
11             73                     DINO'S UNCLE VITO
12             76    OMNI S.F. HOTEL - 3RD FLOOR PANTRY
13             77  OMNI S.F. HOTEL - EMPLOYEE CAFETERIA
14             80                       LAW SCHOOL CAFE
15             81                   CLUB ED/BON APPETIT
16             88                          J.B.'S PLACE
17             95                                  VEGA
18             98                          XOX TRUFFLES
19             99         J & M A-1 CAFE RESTAURANT LLC
20            101                      CABLE CAR CORNER
21            102                     AKIKO'S SUSHI BAR
22            108                             RUE LEPIC
23            116             THE WATERFRONT RESTAURANT
24            121                          AKIKOS SUSHI
25            125                           CENTERFOLDS
26            134                                  MINT
27            140                        CAFE MADELEINE
28            141          AFC SUSHI @ MOLLIE STONE'S 2
29            146                 DEJA VU PIZZA & PASTA
...           ...                                   ...
6376        94305               ROSAMUNDE SAUSAGE GRILL
6377        94310                         YOKAI EXPRESS
6378        94318                        YUANBAO JIAOZI
6379        94331                     MATCHA CAFE MAIKO
6380        94334              SUBWAY SANDWICHES #53761
6381        94337              SUBWAY SANDWICHES #61240
6382        94354               RAINBOW MARKET AND DELI
6383        94387                       FOUNDATION CAFE
6384        94388                       FOUNDATION CAFE
6385        94394                        KOKIO REPUBLIC
6386        94408                     SIZZLING POT KING
6387        94409                           AUGUST HALL
6388        94412                 NATIVE BAKING COMPANY
6389        94433                        GREEK TOWN LLC
6390        94442                           SIMPLY CAFE
6391        94456                UBER-ATG (BON APPETIT)
6392        94460                           DOBBS FERRY
6393        94465                        BEAUTIFULL LLC
6394        94468                             BAR CRENN
6395        94502                   NEW FORTUNE DIM SUM
6396        94521                JOE & THE JUICE HOWARD
6397        94522                        CAFE JOSEPHINE
6398        94537         BON APPETIT @ USF- OUTTA HERE
6399        94540                          FOAM USA LLC
6400        94542                            OCEAN THAI
6401        94544                          D'MAIZE CAFE
6402        94555             EASY BREEZY FROZEN YOGURT
6403        94571                THE PHOENIX PASTIFICIO
6404        94572                 BROADWAY DIM SUM CAFE
6405        94574                           BINKA BITES

                            address           city state postal_code  \
0      1200 VAN NESS AVE, 3RD FLOOR  San Francisco    CA       94109
1     500 CALIFORNIA ST, 2ND  FLOOR  San Francisco    CA       94104
2              2801 LEAVENWORTH ST   San Francisco    CA       94133
3                   3202 FOLSOM ST   San Francisco    CA       94110
4                    747 IRVING ST   San Francisco    CA       94122
5                     2180 POST ST   San Francisco    CA       94115
6                   1799 CHURCH ST   San Francisco    CA       94131
7                      91 DRUMM ST   San Francisco    CA       94111
8                 PIER 39  SPACE A3  San Francisco    CA       94133
9                   1800 IRVING ST   San Francisco    CA       94122
10                    3248 22ND ST   San Francisco    CA       94110
11                2101 FILLMORE ST   San Francisco    CA       94115
12     500 CALIFORNIA ST, 3RD FLOOR  San Francisco    CA       94104
13      500 CALIFORNIA ST, BASEMENT  San Francisco    CA       94104
14                  2199 FULTON ST   San Francisco    CA       94117
15                    2350 TURK ST   San Francisco    CA       94117
16                    1435 17TH ST   San Francisco    CA       94107
17                419 CORTLAND AVE   San Francisco    CA       94110
18                754 COLUMBUS AVE   San Francisco    CA       94133
19                     779 CLAY ST   San Francisco    CA       94108
20                  1099 POWELL ST   San Francisco    CA       94108
21                   542A MASON ST   San Francisco    CA       94102
22                      900 PINE ST  San Francisco    CA       94108
23               PIER 7 EMBARCADERO  San Francisco    CA       94111
24                     431 BUSH ST   San Francisco    CA       94108
25                 391 BROADWAY ST   San Francisco    CA       94133
26                400 MCALLISTER ST  San Francisco    CA       94102
27               300 CALIFORNIA ST   San Francisco    CA       94104
28              2435 CALIFORNIA ST   San Francisco    CA       94115
29                    3227 16TH ST   San Francisco    CA       94103
...                             ...            ...   ...         ...
6376                 545 HAIGHT ST   San Francisco    CA       94117
6377                    135 4TH ST   San Francisco    CA       94103
6378                2110 IRVING ST   San Francisco    CA       94122
6379            1581 WEBSTER ST 175  San Francisco    CA       94115
6380               160 BROADWAY ST   San Francisco    CA       94111
6381              425 D BATTERY ST   San Francisco    CA       94111
6382                 684 LARKIN ST   San Francisco    CA       94109
6383                    645 5TH ST   San Francisco    CA       94107
6384                 335 KEARNY ST   San Francisco    CA       94108
6385                   428 11TH ST   San Francisco    CA       94109
6386                    139 8TH ST   San Francisco    CA       94103
6387                  420 MASON ST   San Francisco    CA         NaN
6388           1324 FITZGERALD AVE   San Francisco    CA       94124
6389                    88 02ND ST   San Francisco    CA       94105
6390                  340 GROVE ST   San Francisco    CA       94102
6391             581 20TH ST 2ND FL  San Francisco    CA       94107
6392                  409 GOUGH ST   San Francisco    CA       94102
6393            3401 CALIFORNIA ST   San Francisco    CA       94118
6394              3131 FILLMORE ST   San Francisco    CA       94123
6395               811 STOCKTON ST   San Francisco    CA       94108
6396                 301 HOWARD ST   San Francisco    CA       94105
6397                199 MUSEUM WAY   San Francisco    CA       94114
6398                2130 FULTON ST   San Francisco    CA       94117
6399               1745 TARAVAL ST   San Francisco    CA       94116
6400                2545 OCEAN AVE   San Francisco    CA       94132
6401                 50 PHELAN AVE   San Francisco    CA       94112
6402            44 WEST PORTAL AVE   San Francisco    CA       94127
6403                200 CLEMENT ST   San Francisco    CA       94118
6404               684 BROADWAY ST   San Francisco    CA       94133
6405               2241 GEARY BLVD   San Francisco    CA       94115

       latitude   longitude  phone_number
0     37.786848 -122.421547  +14157763262
1     37.792888 -122.403135  +14156779494
2     37.807155 -122.419004           NaN
3     37.747114 -122.413641  +14156415051
4     37.764013 -122.465749  +14156657440
5     37.784626 -122.437734  +14153455060
6     37.742325 -122.426476  +14158263535
7     37.794483 -122.396584  +14158341942
8     37.808240 -122.410189  +14153914737
9     37.763578 -122.477461  +14152427970
10    37.755419 -122.419542  +14156420474
11    37.788932 -122.433895  +14159224700
12    37.792888 -122.403135  +14156779494
13    37.792888 -122.403135  +14156779494
14    37.774941 -122.452797  +14154222268
15    37.778468 -122.448484  +14154225849
16    37.765003 -122.398084  +14155848446
17    37.739207 -122.417447  +14152856000
18    37.801665 -122.412104  +14154214814
19    37.794293 -122.405967  +14156057219
20    37.794615 -122.409705  +14153625925
21    37.788484 -122.410045  +14159898218
22    37.790868 -122.410854  +14154746070
23    37.793874 -122.396464  +14153912696
24    37.790643 -122.404676  +14153973218
25    37.798233 -122.403637  +14158340662
26    37.780247 -122.418974  +14155515942
27    37.793268 -122.400323  +14153623332
28    37.788773 -122.434697  +14155674902
29    37.764713 -122.424709  +14152551600
...         ...         ...           ...
6376        NaN         NaN  +14154376851
6377        NaN         NaN  +14158234502
6378        NaN         NaN  +14156013979
6379        NaN         NaN  +14150009434
6380        NaN         NaN  +14158861913
6381        NaN         NaN  +14153991549
6382        NaN         NaN  +14157664681
6383        NaN         NaN  +14153503301
6384        NaN         NaN           NaN
6385        NaN         NaN  +14157996404
6386        NaN         NaN  +14158028899
6387        NaN         NaN           NaN
6388        NaN         NaN           NaN
6389        NaN         NaN  +14152408032
6390        NaN         NaN  +14156587659
6391        NaN         NaN  +14158184997
6392        NaN         NaN  +14155517709
6393        NaN         NaN  +14157289080
6394        NaN         NaN           NaN
6395        NaN         NaN  +14153991511
6396        NaN         NaN           NaN
6397        NaN         NaN  +14153508976
6398        NaN         NaN  +14153604802
6399        NaN         NaN  +14156060018
6400        NaN         NaN  +14155857251
6401        NaN         NaN  +14154240604
6402        NaN         NaN  +14155053351
6403        NaN         NaN  +14154726100
6404        NaN         NaN           NaN
6405        NaN         NaN  +14157712907

[6406 rows x 9 columns]>
<bound method NDFrame.describe of        business_id  score      date     type
0               19     94  20160513  routine
1               19     94  20171211  routine
2               24     98  20171101  routine
3               24     98  20161005  routine
4               24     96  20160311  routine
5               31     98  20151204  routine
6               45     78  20160104  routine
7               45     88  20170307  routine
8               45     85  20170914  routine
9               45     84  20160614  routine
10              48     94  20160630  routine
11              54    100  20150526  routine
12              54     87  20170215  routine
13              56     90  20160802  routine
14              56     92  20170420  routine
15              56     88  20151222  routine
16              58     73  20160407  routine
17              58     70  20170918  routine
18              61     94  20160708  routine
19              61     94  20171128  routine
20              61     98  20170124  routine
21              61     92  20150827  routine
22              66     98  20160322  routine
23              66    100  20150828  routine
24              66    100  20160902  routine
25              66     96  20170703  routine
26              67     90  20150520  routine
27              67     87  20160401  routine
28              67     81  20170804  routine
29              67     94  20161019  routine
...            ...    ...       ...      ...
14192        93289     83  20171221  routine
14193        93297     98  20171221  routine
14194        93352     98  20171027  routine
14195        93361     90  20171219  routine
14196        93390     96  20171129  routine
14197        93423     96  20171103  routine
14198        93431     89  20171211  routine
14199        93448     96  20171117  routine
14200        93465     91  20180104  routine
14201        93492     96  20180110  routine
14202        93500    100  20171103  routine
14203        93532     93  20171103  routine
14204        93533     92  20171121  routine
14205        93536     94  20171213  routine
14206        93549     96  20171221  routine
14207        93615     89  20171106  routine
14208        93617     88  20171221  routine
14209        93815     96  20171102  routine
14210        93912     94  20180105  routine
14211        93957    100  20171204  routine
14212        93959    100  20171218  routine
14213        93968     98  20171120  routine
14214        93969     98  20171221  routine
14215        93977     96  20171219  routine
14216        94012    100  20171220  routine
14217        94012     90  20180112  routine
14218        94133    100  20171227  routine
14219        94142    100  20171220  routine
14220        94189     96  20171130  routine
14221        94231     85  20171214  routine

[14222 rows x 4 columns]>
<bound method NDFrame.describe of        business_id      date  \
0               19  20171211
1               19  20171211
2               19  20160513
3               19  20160513
4               19  20160513
5               24  20171101
6               24  20161005
7               24  20160311
8               24  20160311
9               31  20151204
10              45  20170914
11              45  20170914
12              45  20170914
13              45  20170914
14              45  20170307
15              45  20170307
16              45  20170307
17              45  20170307
18              45  20170307
19              45  20160614
20              45  20160614
21              45  20160614
22              45  20160614
23              45  20160614
24              45  20160104
25              45  20160104
26              45  20160104
27              45  20160104
28              45  20160104
29              45  20160104
...            ...       ...
39012        93465  20180104
39013        93465  20180104
39014        93492  20180110
39015        93532  20171103
39016        93533  20171121
39017        93533  20171121
39018        93536  20171213
39019        93536  20171213
39020        93549  20171221
39021        93615  20171106
39022        93615  20171106
39023        93617  20171221
39024        93617  20171221
39025        93617  20171221
39026        93617  20171221
39027        93815  20171102
39028        93815  20171102
39029        93912  20180105
39030        93912  20180105
39031        93968  20171120
39032        93969  20171221
39033        93977  20171219
39034        94012  20180112
39035        94012  20180112
39036        94012  20180112
39037        94189  20171130
39038        94231  20171214
39039        94231  20171214
39040        94231  20171214
39041        94231  20171214

                                             description
0      Inadequate food safety knowledge or lack of ce...
1       Unapproved or unmaintained equipment or utensils
2      Unapproved or unmaintained equipment or utensi...
3      Unclean or degraded floors walls or ceilings  ...
4      Food safety certificate or food handler card n...
5                                  Improper food storage
6      Unclean or degraded floors walls or ceilings  ...
7      Unclean or degraded floors walls or ceilings  ...
8      Unclean or degraded floors walls or ceilings  ...
9      Food safety certificate or food handler card n...
10                      Unclean nonfood contact surfaces
11               Moderate risk food holding temperature
12          Unclean or degraded floors walls or ceilings
13                          High risk vermin infestation
14     Moderate risk vermin infestation  [ date viola...
15     Unclean nonfood contact surfaces  [ date viola...
16     Food safety certificate or food handler card n...
17     Unclean or degraded floors walls or ceilings  ...
18     Wiping cloths not clean or properly stored or ...
19     Unapproved or unmaintained equipment or utensi...
20     Moderate risk vermin infestation  [ date viola...
21     Foods not protected from contamination  [ date...
22     Inadequate food safety knowledge or lack of ce...
23     Unclean or degraded floors walls or ceilings  ...
24     Inadequately cleaned or sanitized food contact...
25     Unclean nonfood contact surfaces  [ date viola...
26     Inadequate food safety knowledge or lack of ce...
27     Employee eating or smoking  [ date violation c...
28     Unclean or degraded floors walls or ceilings  ...
29     Unapproved or unmaintained equipment or utensi...
...                                                  ...
39012  Wiping cloths not clean or properly stored or ...
39013  High risk food holding temperature   [ date vi...
39014  Inadequately cleaned or sanitized food contact...
39015  No hot water or running water  [ date violatio...
39016  Inadequately cleaned or sanitized food contact...
39017  Moderate risk food holding temperature   [ dat...
39018  Inadequate and inaccessible handwashing facili...
39019                        Low risk vermin infestation
39020                          Improper thawing methods
39021  High risk food holding temperature   [ date vi...
39022  Inadequately cleaned or sanitized food contact...
39023          Noncompliance with HAACP plan or variance
39024  Inadequately cleaned or sanitized food contact...
39025   Improper food labeling or menu misrepresentation
39026  Food safety certificate or food handler card n...
39027   Unapproved or unmaintained equipment or utensils
39028   Improper storage of equipment utensils or linens
39029  Inadequate and inaccessible handwashing facili...
39030       Unclean or degraded floors walls or ceilings
39031                   Unclean nonfood contact surfaces
39032      No thermometers or uncalibrated thermometers
39033          Noncompliance with HAACP plan or variance
39034  Inadequate and inaccessible handwashing facili...
39035  Other moderate risk violation  [ date violatio...
39036  Wiping cloths not clean or properly stored or ...
39037            Insufficient hot water or running water
39038  Unclean nonfood contact surfaces  [ date viola...
39039  High risk vermin infestation  [ date violation...
39040  Moderate risk food holding temperature   [ dat...
39041  Wiping cloths not clean or properly stored or ...

[39042 rows x 3 columns]>

### Question 1d: Verify Your Files were Read Correctly

Now, we perform some sanity checks for you to verify that you loaded the data with the right structure. Run the following cells to load some basic utilities (you do not need to change these at all):

First, we check the basic structure of the data frames you created:

In [178]:
assert all(bus.columns == ['business_id', 'name', 'address', 'city', 'state', 'postal_code',
                           'latitude', 'longitude', 'phone_number'])
assert 6400 <= len(bus) <= 6420

assert all(ins.columns == ['business_id', 'score', 'date', 'type'])
assert 14210 <= len(ins) <= 14250

assert all(vio.columns == ['business_id', 'date', 'description'])
assert 39020 <= len(vio) <= 39080

Next we'll check that the statistics match what we expect. The following are hard-coded statistical summaries of the correct data. .

In [179]:
bus_summary = pd.DataFrame(**{'columns': ['business_id', 'latitude', 'longitude'],
 'data': {'business_id': {'50%': 68294.5, 'max': 94574.0, 'min': 19.0},
  'latitude': {'50%': 37.780435, 'max': 37.824494, 'min': 37.668824},
  'longitude': {'50%': -122.41885450000001,
   'max': -122.368257,
   'min': -122.510896}},
 'index': ['min', '50%', 'max']})

ins_summary = pd.DataFrame(**{'columns': ['business_id', 'score'],
 'data': {'business_id': {'50%': 61462.0, 'max': 94231.0, 'min': 19.0},
  'score': {'50%': 92.0, 'max': 100.0, 'min': 48.0}},
 'index': ['min', '50%', 'max']})

vio_summary = pd.DataFrame(**{'columns': ['business_id'],
 'data': {'business_id': {'50%': 62060.0, 'max': 94231.0, 'min': 19.0}},
 'index': ['min', '50%', 'max']})

from IPython.display import display

print('What we expect from your Businesses dataframe:')
display(bus_summary)
print('What we expect from your Inspections dataframe:')
display(ins_summary)
print('What we expect from your Violations dataframe:')
display(vio_summary)

What we expect from your Businesses dataframe:

     business_id   latitude   longitude
min         19.0  37.668824 -122.510896
50%      68294.5  37.780435 -122.418855
max      94574.0  37.824494 -122.368257

What we expect from your Inspections dataframe:

     business_id  score
min         19.0   48.0
50%      61462.0   92.0
max      94231.0  100.0

What we expect from your Violations dataframe:

     business_id
min         19.0
50%      62060.0
max      94231.0

The code below defines a testing function that we'll use to verify that your data has the same statistics as what we expect. Run these cells to define the function. The `df_allclose` function has this name because we are verifying that all of the statistics for your dataframe are close to the expected values. Why not `df_allequal`? It's a bad idea in almost all cases to compare two floating point values like 37.780435, as rounding error can cause spurious failures.

Do not delete the empty cell below!

In [180]:
"""Run this cell to load this utility comparison function that we will use in various
tests below (both tests you can see and those we run internally for grading).

Do not modify the function in any way.
"""

def df_allclose(actual, desired, columns=None, rtol=5e-2):
    """Compare selected columns of two dataframes on a few summary statistics.
    
    Compute the min, median and max of the two dataframes on the given columns, and compare
    that they match numerically to the given relative tolerance.
    
    If they don't match, an AssertionError is raised (by `numpy.testing`).
    """
    import numpy.testing as npt
    
    # summary statistics to compare on
    stats = ['min', '50%', 'max']
    
    # For the desired values, we can provide a full DF with the same structure as
    # the actual data, or pre-computed summary statistics.
    # We assume a pre-computed summary was provided if columns is None. In that case, 
    # `desired` *must* have the same structure as the actual's summary
    if columns is None:
        des = desired
        columns = desired.columns
    else:
        des = desired[columns].describe().loc[stats]

    # Extract summary stats from actual DF
    act = actual[columns].describe().loc[stats]

    npt.assert_allclose(act, des, rtol)

Now let's run the automated tests. If your dataframes are correct, then the following cell will seem to do nothing, which is a good thing!

In [181]:
# These tests will raise an exception if your variables don't match numerically the correct
# answers in the main summary statistics shown above.
df_allclose(bus, bus_summary)
df_allclose(ins, ins_summary)
df_allclose(vio, vio_summary)

Do not edit the empty cell below. These are hidden tests!

### Question 1e: Identifying Issues with the Data

Use the `head` command on your three files again. This time, describe at least one potential problem with the data you see. Consider issues with missing values and bad data.

In [182]:
print(bus.head())
print(ins.head())
print(vio.head())

q1e_answer = r"""

I first noticed that in bus, one of the entries has a missing phone_number. This may cause issue in the future when trying to analyze the data if one incorrectly assumes that every business has provided a phone number.

"""

# YOUR CODE HERE
#raise NotImplementedError()

print(q1e_answer)

   business_id                                name  \
0           19               NRGIZE LIFESTYLE CAFE
1           24  OMNI S.F. HOTEL - 2ND FLOOR PANTRY
2           31      NORMAN'S ICE CREAM AND FREEZES
3           45                 CHARLIE'S DELI CAFE
4           48                          ART'S CAFE

                         address           city state postal_code   latitude  \
0   1200 VAN NESS AVE, 3RD FLOOR  San Francisco    CA       94109  37.786848
1  500 CALIFORNIA ST, 2ND  FLOOR  San Francisco    CA       94104  37.792888
2           2801 LEAVENWORTH ST   San Francisco    CA       94133  37.807155
3                3202 FOLSOM ST   San Francisco    CA       94110  37.747114
4                 747 IRVING ST   San Francisco    CA       94122  37.764013

    longitude  phone_number
0 -122.421547  +14157763262
1 -122.403135  +14156779494
2 -122.419004           NaN
3 -122.413641  +14156415051
4 -122.465749  +14156657440
   business_id  score      date     type
0           19     94  20160513  routine
1           19     94  20171211  routine
2           24     98  20171101  routine
3           24     98  20161005  routine
4           24     96  20160311  routine
   business_id      date                                        description
0           19  20171211  Inadequate food safety knowledge or lack of ce...
1           19  20171211   Unapproved or unmaintained equipment or utensils
2           19  20160513  Unapproved or unmaintained equipment or utensi...
3           19  20160513  Unclean or degraded floors walls or ceilings  ...
4           19  20160513  Food safety certificate or food handler card n...


I first noticed that in bus, one of the entries has a missing phone_number. This may cause issue in the future when trying to analyze the data if one incorrectly assumes that every business has provided a phone number.

We will explore each file in turn, including determining its granularity and primary keys and exploring many of the variables indivdually. Let's begin with the businesses file, which has been read into the `bus` dataframe.

---
## 2: Examining the Business data

From its name alone, we expect the `businesses.csv` file to contain information about the restaurants. Let's investigate the granularity of this dataset.

**Important note: From now on, the local autograder tests will not be comprehensive. You can pass the automated tests in your notebook but still fail tests in the autograder.** Please be sure to check your results carefully.

### Question 2a

Examining the entries in `bus`, is the `business_id` unique for each record? Your code should compute the answer, i.e. don't just hard code "True".

Hint: use `value_counts()` or `unique()` to determine if the `business_id` series has any duplicates.

In [183]:
is_business_id_unique = len(bus["business_id"].value_counts().unique()) == 1

is_business_id_unique
# YOUR CODE HERE
#raise NotImplementedError()

True

In [184]:
assert is_business_id_unique

### Question 2b

With this information, you can address the question of granularity. Answer the questions below.

1. How many records are there?
1. What does each record represent (e.g., a store, a chain, a transaction)?  
1. What is the primary key?

Please write your answer in the `q2b_answer` variable. You may create new cells to run code as long as you don't delete the cell below.

In [185]:
# use this cell for scratch work
# consider using groupby or value_counts() on the 'name' or 'business_id' 
print(len(bus))
bus["postal_code"].values.item(0)

# YOUR CODE HERE
#raise NotImplementedError()

6406

'94109'

In [186]:
q2b_answer = r"""

There is 6406 records in bus. Each entry represents a store, and the primary key is each business_id, since it is unique for each store.

"""

# YOUR CODE HERE
#raise NotImplementedError()

print(q2b_answer)

There is 6406 records in bus. Each entry represents a store, and the primary key is each business_id, since it is unique for each store.

---
## 3: Zip code

Next, let's  explore some of the variables in the business table. We begin by examining the postal code.

### Question 3a

What kind of values are in the `postal code` column in the `bus` data frame?  
1. Are zip codes quantitative or qualitative? If qualitative, is it ordinal or nominal? 
1. How are the zip code values encoded in python: ints, floats, strings, booleans ...?

To answer the second question you might want to examine a particular entry using the Python `type` command.

In [187]:
# Use this cell for your explorations.
q3a_answer = r"""

Zip codes are qualitive and nominal types of data. In the bus dataframe, zip codes are stored as strings.

"""

# YOUR CODE HERE
#raise NotImplementedError()

print(q3a_answer)

Zip codes are qualitive and nominal types of data. In the bus dataframe, zip codes are stored as strings.

### Question 3b

To explore the zip code values, it makes sense to examine counts, i.e., the number of records  that have the same zip code value. This is essentially answering the question: How many restaurants are in each zip code?

In the cell below, create a series where the index is the postal code and the value is the number of businesses in that postal code. For example, in 94110 (hey that's my old zip code!), there should be 596 businesses. Your series should be in descending order, i.e. 94110 should be at the top. 

For this answer, use `groupby`, `size`, and `sort_values`.

In [188]:
zip_counts = bus.groupby(["postal_code"]).count().iloc[:, 0].sort_values(ascending=False)

zip_counts

# YOUR CODE HERE
#raise NotImplementedError()

postal_code
94110        596
94103        552
94102        462
94107        460
94133        426
94109        380
94111        277
94122        273
94118        249
94115        243
94105        232
94108        228
94114        223
94117        204
94112        195
94124        191
94123        173
94121        160
94104        139
94132        133
94116         99
94134         77
94127         71
94131         49
94158         32
94130          7
94143          5
94188          4
94101          2
94014          2
94013          2
00000          2
CA             2
94129          2
941102019      1
94120          1
941033148      1
94544          1
94545          1
94602          1
941            1
94080          1
94066          1
94621          1
95105          1
92672          1
64110          1
Ca             1
Name: business_id, dtype: int64

Unless you know pandas well already, your answer probably has one subtle flaw in it: it fails to take into account businesses with missing zip codes. Unfortunately, missing data is just a reality when we're working with real data.

There are a couple of ways to include null postal codes in the zip_counts series above. One approach is to use `fillna`, which will replace all null (a.k.a. NaN) values with a string of our choosing. In the example below, I picked "?????". When you run the code below, you should see that there are 240 businesses with missing zip code.

In [189]:
zip_counts = bus.fillna("?????").groupby("postal_code").size().sort_values(ascending=False)
zip_counts.head(15)

postal_code
94110    596
94103    552
94102    462
94107    460
94133    426
94109    380
94111    277
94122    273
94118    249
94115    243
?????    240
94105    232
94108    228
94114    223
94117    204
dtype: int64

An alternate approach is to use the DataFrame `value_counts` method with the optional argument `dropna=False`, which will ensure that null values are counted. In this case, the index will be `NaN` for the row corresponding to a null postal code.

In [190]:
bus["postal_code"].value_counts(dropna=False).sort_values(ascending = False).head(15)

94110    596
94103    552
94102    462
94107    460
94133    426
94109    380
94111    277
94122    273
94118    249
94115    243
NaN      240
94105    232
94108    228
94114    223
94117    204
Name: postal_code, dtype: int64

Missing zip codes aren't our only problem. There is also some bad data where the postal code got messed up, e.g., there are 3 'Ca' and 3 'CA' values. Additionally, there are some extended postal codes that are 9 digits long, rather than the typical 5 digits.

Let's clean up the extended zip codes by dropping the digits beyond the first 5. Rather than deleting replacing the old values in the `postal_code` columnm, we'll instead create a new column called `postal_code_5`.

The reason we're making a new column is because it's typically good practice to keep the original values when we are manipulating data. This makes it easier to recover from mistakes, and also makes it more clear that we are not working with the original raw data.

In [191]:
# Run me
bus['postal_code_5'] = bus['postal_code'].str[:5]
bus

,business_id,name,address,city,state,postal_code,latitude,longitude,phone_number,postal_code_5
0,19,NRGIZE LIFESTYLE CAFE,"1200 VAN NESS AVE, 3RD FLOOR",San Francisco,CA,94109,37.786848,-122.421547,+14157763262,94109
1,24,OMNI S.F. HOTEL - 2ND FLOOR PANTRY,"500 CALIFORNIA ST, 2ND FLOOR",San Francisco,CA,94104,37.792888,-122.403135,+14156779494,94104
2,31,NORMAN'S ICE CREAM AND FREEZES,2801 LEAVENWORTH ST,San Francisco,CA,94133,37.807155,-122.419004,NaN,94133
3,45,CHARLIE'S DELI CAFE,3202 FOLSOM ST,San Francisco,CA,94110,37.747114,-122.413641,+14156415051,94110
4,48,ART'S CAFE,747 IRVING ST,San Francisco,CA,94122,37.764013,-122.465749,+14156657440,94122
5,54,RHODA GOLDMAN PLAZA,2180 POST ST,San Francisco,CA,94115,37.784626,-122.437734,+14153455060,94115
6,56,CAFE X + O,1799 CHURCH ST,San Francisco,CA,94131,37.742325,-122.426476,+14158263535,94131
7,58,OASIS GRILL,91 DRUMM ST,San Francisco,CA,94111,37.794483,-122.396584,+14158341942,94111
8,61,CHOWDERS,PIER 39 SPACE A3,San Francisco,CA,94133,37.808240,-122.410189,+14153914737,94133
9,66,STARBUCKS COFFEE,1800 IRVING ST,San Francisco,CA,94122,37.763578,-122.477461,+14152427970,94122
10,67,REVOLUTION CAFE,3248 22ND ST,San Francisco,CA,94110,37.755419,-122.419542,+14156420474,94110
11,73,DINO'S UNCLE VITO,2101 FILLMORE ST,San Francisco,CA,94115,37.788932,-122.433895,+14159224700,94115
12,76,OMNI S.F. HOTEL - 3RD FLOOR PANTRY,"500 CALIFORNIA ST, 3RD FLOOR",San Francisco,CA,94104,37.792888,-122.403135,+14156779494,94104
13,77,OMNI S.F. HOTEL - EMPLOYEE CAFETERIA,"500 CALIFORNIA ST, BASEMENT",San Francisco,CA,94104,37.792888,-122.403135,+14156779494,94104
14,80,LAW SCHOOL CAFE,2199 FULTON ST,San Francisco,CA,94117,37.774941,-122.452797,+14154222268,94117
15,81,CLUB ED/BON APPETIT,2350 TURK ST,San Francisco,CA,94117,37.778468,-122.448484,+14154225849,94117
16,88,J.B.'S PLACE,1435 17TH ST,San Francisco,CA,94107,37.765003,-122.398084,+14155848446,94107
17,95,VEGA,419 CORTLAND AVE,San Francisco,CA,94110,37.739207,-122.417447,+14152856000,94110
18,98,XOX TRUFFLES,754 COLUMBUS AVE,San Francisco,CA,94133,37.801665,-122.412104,+14154214814,94133
19,99,J & M A-1 CAFE RESTAURANT LLC,779 CLAY ST,San Francisco,CA,94108,37.794293,-122.405967,+14156057219,94108
20,101,CABLE CAR CORNER,1099 POWELL ST,San Francisco,CA,94108,37.794615,-122.409705,+14153625925,94108
21,102,AKIKO'S SUSHI BAR,542A MASON ST,San Francisco,CA,94102,37.788484,-122.410045,+14159898218,94102
22,108,RUE LEPIC,900 PINE ST,San Francisco,CA,94108,37.790868,-122.410854,+14154746070,94108
23,116,THE WATERFRONT RESTAURANT,PIER 7 EMBARCADERO,San Francisco,CA,94111,37.793874,-122.396464,+14153912696,94111
24,121,AKIKOS SUSHI,431 BUSH ST,San Francisco,CA,94108,37.790643,-122.404676,+14153973218,94108
25,125,CENTERFOLDS,391 BROADWAY ST,San Francisco,CA,94133,37.798233,-122.403637,+14158340662,94133
26,134,MINT,400 MCALLISTER ST,San Francisco,CA,94102,37.780247,-122.418974,+14155515942,94102
27,140,CAFE MADELEINE,300 CALIFORNIA ST,San Francisco,CA,94104,37.793268,-122.400323,+14153623332,94104
28,141,AFC SUSHI @ MOLLIE STONE'S 2,2435 CALIFORNIA ST,San Francisco,CA,94115,37.788773,-122.434697,+14155674902,94115
29,146,DEJA VU PIZZA & PASTA,3227 16TH ST,San Francisco,CA,94103,37.764713,-122.424709,+14152551600,94103
...,...,...,...,...,...,...,...,...,...,...
6376,94305,ROSAMUNDE SAUSAGE GRILL,545 HAIGHT ST,San Francisco,CA,94117,NaN,NaN,+14154376851,94117
6377,94310,YOKAI EXPRESS,135 4TH ST,San Francisco,CA,94103,NaN,NaN,+14158234502,94103
6378,94318,YUANBAO JIAOZI,2110 IRVING ST,San Francisco,CA,94122,NaN,NaN,+14156013979,94122
6379,94331,MATCHA CAFE MAIKO,1581 WEBSTER ST 175,San Francisco,CA,94115,NaN,NaN,+14150009434,94115
6380,94334,SUBWAY SANDWICHES #53761,160 BROADWAY ST,San Francisco,CA,94111,NaN,NaN,+14158861913,94111
6381,94337,SUBWAY SANDWICHES #61240,425 D BATTERY ST,San Francisco,CA,94111,NaN,NaN,+14153991549,94111
6382,94354,RAINBOW MARKET AND DELI,684 LARKIN ST,San Francisco,CA,94109,NaN,NaN,+14157664681,94109
6383,94387,FOUNDATION CAFE,645 5TH ST,San Francisco,CA,94107,NaN,NaN,+14153503301,94107
6384,94388,FOUNDATION CAFE,335 KEARNY ST,San Francisco,CA,94108,NaN,NaN,NaN,94108
6385,94394,KOKIO REPUBLIC,428 11TH ST,San Francisco,CA,94109,NaN,NaN,+14157996404,94109
6386,94408,SIZZLING POT KING,139 8TH ST,San Francisco,CA,94103,NaN,NaN,+14158028899,94103
6387,94409,AUGUST HALL,420 MASON ST,San Francisco,CA,NaN,NaN,NaN,NaN,NaN
6388,94412,NATIVE BAKING COMPANY,1324 FITZGERALD AVE,San Francisco,CA,94124,NaN,NaN,NaN,94124
6389,94433,GREEK TOWN LLC,88 02ND ST,San Francisco,CA,94105,NaN,NaN,+14152408032,94105
6390,94442,SIMPLY CAFE,340 GROVE ST,San Francisco,CA,94102,NaN,NaN,+14156587659,94102
6391,94456,UBER-ATG (BON APPETIT),581 20TH ST 2ND FL,San Francisco,CA,94107,NaN,NaN,+14158184997,94107
6392,94460,DOBBS FERRY,409 GOUGH ST,San Francisco,CA,94102,NaN,NaN,+14155517709,94102
6393,94465,BEAUTIFULL LLC,3401 CALIFORNIA ST,San Francisco,CA,94118,NaN,NaN,+14157289080,94118
6394,94468,BAR CRENN,3131 FILLMORE ST,San Francisco,CA,94123,NaN,NaN,NaN,94123
6395,94502,NEW FORTUNE DIM SUM,811 STOCKTON ST,San Francisco,CA,94108,NaN,NaN,+14153991511,94108
6396,94521,JOE & THE JUICE HOWARD,301 HOWARD ST,San Francisco,CA,94105,NaN,NaN,NaN,94105
6397,94522,CAFE JOSEPHINE,199 MUSEUM WAY,San Francisco,CA,94114,NaN,NaN,+14153508976,94114
6398,94537,BON APPETIT @ USF- OUTTA HERE,2130 FULTON ST,San Francisco,CA,94117,NaN,NaN,+14153604802,94117
6399,94540,FOAM USA LLC,1745 TARAVAL ST,San Francisco,CA,94116,NaN,NaN,+14156060018,94116
6400,94542,OCEAN THAI,2545 OCEAN AVE,San Francisco,CA,94132,NaN,NaN,+14155857251,94132
6401,94544,D'MAIZE CAFE,50 PHELAN AVE,San Francisco,CA,94112,NaN,NaN,+14154240604,94112
6402,94555,EASY BREEZY FROZEN YOGURT,44 WEST PORTAL AVE,San Francisco,CA,94127,NaN,NaN,+14155053351,94127
6403,94571,THE PHOENIX PASTIFICIO,200 CLEMENT ST,San Francisco,CA,94118,NaN,NaN,+14154726100,94118
6404,94572,BROADWAY DIM SUM CAFE,684 BROADWAY ST,San Francisco,CA,94133,NaN,NaN,NaN,94133
6405,94574,BINKA BITES,2241 GEARY BLVD,San Francisco,CA,94115,NaN,NaN,+14157712907,94115

### Question 3c : A Closer Look at Missing Zip Codes

Let's look more closely at businesses with missing zip codes. We'll see that many zip codes are missing for a good reason. Examine the businesses with missing zipcode values.  Pay attention to their addresses.  Do you notice anything interesting? You might need to look at a bunch of entries, i.e. don't just look at the first five.

*Hint: You can use the series `isnull` method to create a binary array, which can then be used to show only rows of the dataframe that contain null values.*

In [192]:
# Use this cell for your explorations.
q3c_answer = r"""

Though some of the business with missing zip codes have normal addresses, a great deal of those missing zip codes also have "OFF THE GRID" or "OTG" addresses.

"""

# YOUR CODE HERE
#raise NotImplementedError()

print(q3c_answer)

Though some of the business with missing zip codes have normal addresses, a great deal of those missing zip codes also have "OFF THE GRID" or "OTG" addresses.

In [193]:
bus[bus.loc[:, "postal_code_5"].isnull()]

,business_id,name,address,city,state,postal_code,latitude,longitude,phone_number,postal_code_5
1702,8202,XIAO LOONG,250 WEST PORTAL AVENUE,San Francisco,CA,NaN,37.738616,-122.468775,+14152792647,NaN
1725,9358,EDGEWOOD CHILDREN'S CENTER,1801 VICENTE ST,San Francisco,CA,NaN,37.739083,-122.485437,NaN,NaN
1731,9582,DIMPLES,1700 POST ST.,San Francisco,CA,NaN,37.785632,-122.429794,+14155190341,NaN
1747,10011,OSHA THAI NOODLE,819 VALENCIA ST.,San Francisco,CA,NaN,37.759943,-122.421332,+14153109293,NaN
1754,10227,THE NAPPER TANDY,3200 24TH ST,San Francisco,CA,NaN,37.752581,-122.416482,+14155507510,NaN
1762,10372,BERNAL HEIGHTS NEIGBORHOOD CENTER,515 CORTLAND AVE,San Francisco,CA,NaN,37.739110,-122.416404,+14152062142,NaN
1763,10373,EL TONAYENSE #1,1717 HARRISON ST,San Francisco,CA,NaN,37.769426,-122.413446,+14155596127,NaN
1764,10376,GOOD FRIKIN CHICKEN,10 29TH ST,San Francisco,CA,NaN,37.744369,-122.420967,+14158601365,NaN
1766,10406,SUNSET YOUTH SERVICES,3918 JUDAH ST,San Francisco,CA,NaN,37.760560,-122.504027,NaN,NaN
1778,10964,ANGEL'S HOT DOGS,CORNER OF ALAMEDA AND HENRY ADAMS,San Francisco,CA,NaN,NaN,NaN,NaN,NaN
1788,11416,EL BEACH BURRITO,3914 JUDAH ST,San Francisco,CA,NaN,37.760851,-122.503998,NaN,NaN
1797,11967,CANTEEN VENDING COMPANY,VARIOUS LOCATIONS,San Francisco,CA,NaN,NaN,NaN,+14159798170,NaN
1798,11974,WEST COAST VENDING & FOOD SERVICE,VARIOUS LOCATIONS,San Francisco,CA,NaN,NaN,NaN,+14152615954,NaN
1799,12001,CAHEE'S CATERING,4801 03RD ST,San Francisco,CA,NaN,37.734734,-122.390599,NaN,NaN
1802,12199,EL GALLO GIRO,3055 23RD ST,San Francisco,CA,NaN,37.754218,-122.413285,+14155772661,NaN
1805,12344,THE VILLAGE MARKET & PIZZA,750 FONT BLVD,San Francisco,CA,NaN,37.723462,-122.483012,+14153774525,NaN
1811,13062,EVERETT MIDDLE SCHOOL,450 CHURCH ST,San Francisco,CA,NaN,37.763794,-122.428617,NaN,NaN
1821,13753,TABOUN,203 PARNASSUS AVE,San Francisco,CA,NaN,37.764574,-122.452950,+14156420168,NaN
1839,14883,FRIENDSHIP HOUSE HEALING,56 JULIAN,San Francisco,CA,NaN,37.767312,-122.421173,NaN,NaN
1865,17423,PROJECT OPEN HAND,100 DIAMOND ST,San Francisco,CA,NaN,37.760689,-122.437252,NaN,NaN
1878,17946,PIZZERIA DELFINA,3611 18TH ST,San Francisco,CA,NaN,37.761657,-122.424347,+14158196457,NaN
1881,18079,JOE'S COFFEE SHOP,6134 GEARY BLVD,San Francisco,CA,NaN,37.780408,-122.485383,+14156689382,NaN
1944,19357,ORIGINAL BUFFALO WINGS,2499 LOMBARD ST,San Francisco,CA,NaN,37.799095,-122.442457,+14159318181,NaN
2095,33114,SAUSALITO CAFE #2,50 BEALE ST 105,San Francisco,CA,NaN,37.792414,-122.397020,NaN,NaN
2155,34201,TROUBLE COFFEE COMPANY,4033 JUDAH ST,San Francisco,CA,NaN,37.760469,-122.505349,+14156909119,NaN
2160,34331,STANLEY'S STEAMERS,NW CORNER GRANT AT GEARY ST ON GRANT,San Francisco,CA,NaN,37.787954,-122.405035,NaN,NaN
2206,35469,SUBWAY #36339,1099 MISSION ST,San Francisco,CA,NaN,37.779466,-122.410903,+14152419033,NaN
2257,36546,EPIC ROASTHOUSE,PIER26 EMBARCADERO,San Francisco,CA,NaN,NaN,NaN,NaN,NaN
2263,36608,TAQUERIA ANGELICA'S,1301 CESAR CHAVEZ ST,San Francisco,CA,NaN,37.748543,-122.390883,+14158343695,NaN
2348,38146,SAN PANCHO'S TACOS,491 BAYSHORE ST,San Francisco,CA,NaN,NaN,NaN,+14153375152,NaN
...,...,...,...,...,...,...,...,...,...,...
5657,89436,ELIXIRIA,301 25TH AVE,San Francisco,CA,NaN,NaN,NaN,+14159486537,NaN
5697,89678,BONITO POKE,2277 SHAFTER AVE,San Francisco,CA,NaN,NaN,NaN,+14155335548,NaN
5706,89723,PASSIONE PIZZA,OFF THE GRID,San Francisco,CA,NaN,NaN,NaN,+14152068822,NaN
5714,89759,LAMAS PERUVIAN FOOD TRUCK,PRIVATE LOCATIONS,San Francisco,CA,NaN,NaN,NaN,+14157979866,NaN
5732,89839,COOKSOO TRUCK LLC,APPROVED PRIVATE LOCATIONS,San Francisco,CA,NaN,NaN,NaN,+14152765462,NaN
5736,89856,THE KOREAN KITCHEN,1220 09TH AVE,San Francisco,CA,NaN,NaN,NaN,+14157305897,NaN
5738,89900,TOUT SWEET PATISSERIE,170 O'FARRELL ST,San Francisco,CA,NaN,NaN,NaN,+14156529020,NaN
5786,90194,JACKRABBIT,OFF THE GRID,San Francisco,CA,NaN,NaN,NaN,+14153782051,NaN
5789,90213,SENOR SISIG (#6),OFF THE GRID,San Francisco,CA,NaN,NaN,NaN,+14156085048,NaN
5827,90353,PARK GYROS,2831 CESAR CHAVEZ ST,San Francisco,CA,NaN,NaN,NaN,+14154303256,NaN
5835,90433,GAGA'S ROLLIN DINER,OFF THE GRID,San Francisco,CA,NaN,NaN,NaN,+14156553116,NaN
5836,90434,BAAGAN,OFF THE GRID,San Francisco,CA,NaN,NaN,NaN,+14157572038,NaN
5840,90441,SF HILTON BANQUET FACILITIES,333 O'FARRELL,San Francisco,CA,NaN,NaN,NaN,+14157711400,NaN
5848,90470,NORTH BORDER TACO,TREASURE ISLAND,San Francisco,CA,NaN,NaN,NaN,+14153706314,NaN
5862,90536,SERENDIPITY SF,APPROVED PRIVATE LOCATIONS,San Francisco,CA,NaN,NaN,NaN,+14154791437,NaN
5865,90560,COLETTA GELATO,OFF THE GRID,San Francisco,CA,NaN,NaN,NaN,+14152991032,NaN
5876,90597,MOONRAKER MOBILE (#2),OFF THE GRID,San Francisco,CA,NaN,NaN,NaN,+14155571232,NaN
5890,90708,CREPERIE SAINT GERMAIN,201 2ND ST,San Francisco,CA,NaN,NaN,NaN,+14159487348,NaN
5898,90792,THE GAME DAY TRUCK,OFF THE GRID,San Francisco,CA,NaN,NaN,NaN,+14157626170,NaN
5985,91170,"PASSION PERUANA, LLC",993 NORTH POINT ST,San Francisco,CA,NaN,NaN,NaN,NaN,NaN
6006,91273,DA POKE MAN,OFF THE GRID,San Francisco,CA,NaN,NaN,NaN,+14157899447,NaN
6015,91313,TACOS SANTO TORIBIO,928 TOLAND,San Francisco,CA,NaN,NaN,NaN,+14155059190,NaN
6078,91826,THE WAFFLE ROOST,OFF THE GRID,San Francisco,CA,NaN,NaN,NaN,+14153144823,NaN
6101,91955,KOME SUSHI BURRITO,OTG,San Francisco,CA,NaN,NaN,NaN,+14153949717,NaN
6168,92417,MAI THAI KITCHEN,OTG,San Francisco,CA,NaN,NaN,NaN,NaN,NaN
6194,92563,LA BOULANGERIE DE SAN FRANCISCO,655 MONTGOMERY ST,San Francisco,CA,NaN,NaN,NaN,+14158239635,NaN
6223,92857,"MOBI MUNCH, INC.",OFF THE GRID,San Francisco,CA,NaN,NaN,NaN,+14152899800,NaN
6240,93029,BAHN MI ZON,OFF THE GRID,San Francisco,CA,NaN,NaN,NaN,+14152414342,NaN
6354,94123,BON APPETIT @ AIRBNB,999 BRANNAN ST,San Francisco,CA,NaN,NaN,NaN,+1415 Alieri,NaN
6387,94409,AUGUST HALL,420 MASON ST,San Francisco,CA,NaN,NaN,NaN,NaN,NaN

### Question 3d: Incorrect Zip Codes

This dataset is supposed to be only about San Francisco, so let's set up a list of all San Francisco zip codes.

In [194]:
all_sf_zip_codes = ["94102", "94103", "94104", "94105", "94107", "94108", "94109", "94110", "94111", "94112", "94114", "94115", "94116", "94117", "94118", "94119", "94120", "94121", "94122", "94123", "94124", "94125", "94126", "94127", "94128", "94129", "94130", "94131", "94132", "94133", "94134", "94137", "94139", "94140", "94141", "94142", "94143", "94144", "94145", "94146", "94147", "94151", "94158", "94159", "94160", "94161", "94163", "94164", "94172", "94177", "94188"]

Set `weird_zip_code_businesses` equal to a new dataframe showing only rows corresponding to zip codes that are not valid AND not NaN. Use the `postal_code_5` field.

*Hint: The `~` operator inverts a boolean array. Use in conjunction with `isin`.*

*Hint: The `notnull` method can be used to form a useful boolean array for this problem.*

In [195]:
weird_zip_code_businesses = bus[(bus.loc[:, "postal_code_5"].notnull()) & ~(bus.loc[:, "postal_code_5"].isin(all_sf_zip_codes))]

# YOUR CODE HERE
#raise NotImplementedError()

In [196]:
weird_zip_code_businesses

,business_id,name,address,city,state,postal_code,latitude,longitude,phone_number,postal_code_5
1211,5208,GOLDEN GATE YACHT CLUB,1 YACHT RD,San Francisco,CA,941,37.807878,-122.442499,+14153462628,941
1372,5755,J & J VENDING,VARIOUS LOACATIONS (17),San Francisco,CA,94545,NaN,NaN,+14156750910,94545
1373,5757,"RICO VENDING, INC",VARIOUS LOCATIONS,San Francisco,CA,94066,NaN,NaN,+14155836723,94066
2258,36547,EPIC ROASTHOUSE,PIER 26 EMBARARCADERO,San Francisco,CA,95105,37.788962,-122.387941,+14153699955,95105
2293,37167,INTERCONTINENTAL SAN FRANCISCO EMPLOYEE CAFETERIA,888 HOWARD ST 2ND FLOOR,San Francisco,CA,94013,37.781664,-122.404778,+14156166532,94013
2295,37169,INTERCONTINENTAL SAN FRANCISCO 4TH FL. KITCHEN,888 HOWARD ST 4TH FLOOR,San Francisco,CA,94013,37.781664,-122.404778,+14156166532,94013
2846,64540,LEO'S HOT DOGS,2301 MISSION ST,San Francisco,CA,CA,37.760054,-122.419166,+14152406434,CA
2852,64660,HAIGHT STREET MARKET,1530 HAIGHT ST,San Francisco,CA,92672,37.769957,-122.447533,+14152550643,92672
2857,64738,JAPACURRY,PUBLIC,San Francisco,CA,CA,37.777122,-122.419639,+14152444785,CA
2969,65856,BAMBOO ASIA,41 MONTGOMERY ST,San Francisco,CA,94101,37.774998,-122.418299,+14156246790,94101
3142,67875,THE CHAIRMAN TRUCK,OFF THE GRID,San Francisco,CA,00000,37.777122,-122.419639,+14158461711,00000
3665,72127,REVOLUTION FOODS,5383 CAPWELL,San Francisco,CA,94621,NaN,NaN,NaN,94621
3758,74674,ELI'S HOT DOGS,101 BAYSHORE BLVD,San Francisco,CA,94014,NaN,NaN,+14158301168,94014
4853,83744,LA FROMAGERIE,101 MONTGOMERY ST,San Francisco,CA,94101,NaN,NaN,+14153682943,94101
5060,85459,ORBIT ROOM,1900 MARKET ST,San Francisco,CA,94602,NaN,NaN,+14153705584,94602
5325,87059,COFFEE BAR-MONTGOMERY,101 MONTGOMERY ST SUITE 101C,San Francisco,CA,94014,NaN,NaN,+14158158774,94014
5480,88139,TACOLICIOUS,2250 CHESTNUT ST,San Francisco,CA,Ca,NaN,NaN,+14156496077,Ca
5894,90733,JEEPSILOG,2 MARINA BLVD,San Francisco,CA,94080,NaN,NaN,+14157035586,94080
6002,91249,AN THE GO,OFF THE GRID,San Francisco,CA,00000,NaN,NaN,+14158192000,00000
6130,92141,ALFARO TRUCK,332 VALENCIA ST,San Francisco,CA,64110,NaN,NaN,+14159409273,64110
6300,93484,CARDONA'S FOOD TRUCK,2430 WHIPPLE RD,San Francisco,CA,94544,NaN,NaN,+14153365990,94544

If we were doing very serious data analysis, we might indivdually look up every one of these strange records. Let's focus on just two of them: zip codes 94545 and 94602. Use a search engine to identify what cities these zip codes appear in. Try to explain why you think these two zip codes appear in your dataframe. For the one with zip code 94602, try searching for the business name and locate its real address.

In [197]:
# Use this cell for your explorations.
q3d_answer = r"""

94545 - This business is a vending machine company, and lists its adsress as "VARIOUS LOCATIONS", since there are presumably many machines in various locations. However, for the zip code, they might have simply put the company's zip code (which is not necessarily in SF).

94602 - The Orbit Room, which is located in SF, has an actual zip code of 94102. It is possible that this zip code (94602) is simply a typo.

"""


# YOUR CODE HERE
#raise NotImplementedError()

print(q3d_answer)

94545 - This business is a vending machine company, and lists its adsress as "VARIOUS LOCATIONS", since there are presumably many machines in various locations. However, for the zip code, they might have simply put the company's zip code (which is not necessarily in SF).

94602 - The Orbit Room, which is located in SF, has an actual zip code of 94102. It is possible that this zip code (94602) is simply a typo.

### Question 3e

We often want to clean the data to improve our analysis. This cleaning might include changing values for a variable or dropping records.

Let's correct 94602 to the more likely value based on your analysis.  Let's modify the derived field `zip_code` using `bus['zip_code'].str.replace` to replace 94602 with the correct value based on this business's real address that you learn by using a search engine.

In [198]:
# WARNING: Be careful when uncommenting the line below, it will set the entire column to NaN unless you 
# put something to the right of the ellipses.
# bus['postal_code_5'] = ... 

# YOUR CODE HERE

bus["postal_code_5"] = bus['postal_code_5'].str.replace("94602", "94102")

#raise NotImplementedError()

In [199]:
assert "94602" not in bus['postal_code_5']

---
## 4: Latitude and Longitude

Let's also consider latitude and longitude values and get a sense of how many are missing.

### Question 4a

How many businesses are missing longitude values?

*Hint: Use isnull.*

In [ ]:
missing_latlongs = ...

# YOUR CODE HERE
raise NotImplementedError()

Do not delete the empty cell below!

As a somewhat contrived exercise in data manipulation, let's try to identify which zip codes are missing the most longitude values.

Throughout problems 4a and 4b, let's focus on only the "dense" zip codes of the city of San Francisco, listed below as `sf_dense_zip`.

In [ ]:
sf_dense_zip = ["94102", "94103", "94104", "94105", "94107", "94108",
            "94109", "94110", "94111", "94112", "94114", "94115",
            "94116", "94117", "94118", "94121", "94122", "94123", 
            "94124", "94127", "94131", "94132", "94133", "94134"]

In the cell below, create a series where the index is `postal_code_5`, and the value is the number of businesses with missing longitudes in that zip code. Your series should be in descending order. Only businesses from `sf_dense_zip` should be included.

For example, 94110 should be at the top of the series, with the value 294.

*Hint: Start by making a new dataframe called `bus_sf` that only has businesses from `sf_dense_zip`.

*Hint: Create a custom function to compute the number of null entries in a series, and use this function with the `agg` method.*

In [ ]:
num_missing_in_each_zip = ...

# YOUR CODE HERE
raise NotImplementedError()

Do not edit the empty cell below.

### Question 4b

In question 4a, we counted the number of null values per zip code. Let's now count the proportion of null values.

Create a new dataframe of counts of the null and proportion of null values, storing the result in `fraction_missing_df`. It should have an index called `postal_code_5` and should also have 3 columns:

1. `null count`: The number of missing values for the zip code.
2. `not null count`: The number of present values for the zip code.
3. `fraction null`: The fraction of values that are null for the zip code.

Your data frame should be sorted by the fraction null in descending order.

Recommended approach: Build three series with the appropriate names and data and then combine them into a dataframe. This will require some new syntax you may not have seen. You already have code from question 4a that computes the `null count` series.

To pursue this recommended approach, you might find these two functions useful:

* `rename`: Renames the values of a series.
* `pd.concat`: Can be used to combine a list of Series into a dataframe. Example: `pd.concat([s1, s2, s3], axis=1)` will combine series 1, 2, and 3 into a dataframe.

*Hint: You can use the divison operator to compute the ratio of two series.*

*Hint: The ~ operator can invert a binary array. Or alternately, the `notnull` method can be used to create a binary array from a series.*

*Note: An alternate approach is to create three aggregation functions as pass them in a list to the `agg` function.*

In [ ]:
fraction_missing_df = ...

# YOUR CODE HERE
raise NotImplementedError()

Do not edit the empty cell below.

## Summary of the Business Data

Before we move on to explore the other data, let's take stock of what we have learned and the implications of our findings on future analysis. 

* We found that the business id is unique across records and so we may be able to use it as a key in joining tables. 
* We found that there are many errors with the zip codes. As a result, we may want to drop the records with zip codes outside of San Francisco or to treat them differently. For some of the bad values, we could take the time to look up the restaurant address online and fix these errors.   
* We found that there are a huge number of missing longitude (and latitude) values. Fixing would require a lot of work, but could in principle be automated for business with well formed addresses.

---
## 5: Investigate the Inspection Data

Let's now turn to the inspection DataFrame. Earlier, we found that `ins` has 4 columns named `business_id`, `score`, `date` and `type`.  In this section, we determine the granularity of `ins` and investigate the kinds of information provided for the inspections.

Let's start by looking again at the first 5 rows of `ins` to see what we're working with.

In [ ]:
ins.head(5)

### Question 5a
From calling `head`, we know that each row in this table corresponds to the inspection of a single business. Let's get a sense of the total number of inspections conducted, as well as the total number of unique businesses that occur in the dataset.

In [ ]:
# The number of rows in ins
rows_in_table = ...

# The number of unique business IDs in ins.
unique_ins_ids = ...

# YOUR CODE HERE
raise NotImplementedError()

Do not delete the empty cell below!

As you should have seen above, we have an average of roughly 3 inspections per business.

### Question 5b

Next, we examine the Series in the `ins` dataframe called `type`. From examining the first few rows of `ins`, we see that `type` is a string and one of its values is 'routine', presumably for a routine inspection. What values does `type` take on? How many occurrences of each value is in the DataFrame? What are the implications for further analysis? For this problem, you need only fill in the string with a description; there's no specific dataframe or series that you need to create.

In [ ]:
q5b_answer = r"""

Put your answer here, replacing this text. Do not take into account the ### YOUR CODE HERE below

"""

# YOUR CODE HERE
raise NotImplementedError()

print(q5b_answer)

### Question 5c

In this question, we're going to try to figure out what years the data spans. Unfortunately, the dates in our file are formatted as strings such as `20160503`, which are a little tricky to interpret. The ideal solution for this problem is to modify our dates so that they are in an appropriate format for analysis. 

In the cell below, we attempt to add a new column to `ins` called `new_date` which contains the `date` stored as a datetime object. This calls the `pd.to_datetime` method, which converts a series of string representations of dates (and/or times) to a series containing a datetime object.

In [ ]:
ins['new_date'] = pd.to_datetime(ins['date'])
ins.head(5)

As you'll see, the resulting `new_date` column doesn't make any sense. This is because the default behavior of the `to_datetime()` method does not properly process the passed string. We can fix this by telling `to_datetime` how to do its job by providing a format string.

In [ ]:
ins['new_date'] = pd.to_datetime(ins['date'], format='%Y%m%d')
ins.head(5)

This is still not ideal for our analysis, so we'll add one more column that is just equal to the year by using the `dt.year` property of the new series we just created.

In [ ]:
ins['year'] = ins['new_date'].dt.year
ins.head(5)

Now that we have this handy `year` column, we can try to understand our data better.

What range of years is covered in this data set? Are there roughly the same number of inspections each year? Provide your answer in text only.

In [ ]:
q5c_answer = r"""

Put your answer here, replacing this text. Do not take into account the ### YOUR CODE HERE below

"""

# YOUR CODE HERE
raise NotImplementedError()

print(q5c_answer)

---
## 6: Explore inspection score

### Question 6a
Let's look at the distribution of scores. As we saw before when we called `head` on this data, inspection scores appear to be integer values. The discreteness of this variable means that we can use a barplot to visualize the distribution of the inspection score. Find the counts of the number of inspections for each score. Specifically, create a series in `scoreCts` where the index is the score and the value is the number of times that score was given.

Then make a bar plot of these counts. It should look like the image below. It does not need to look exactly the same, but it should be fairly close.

<img src="hist.png" width=400>

In [ ]:
scoreCts = ...

# YOUR CODE HERE
raise NotImplementedError()

#plt.show()

### Question 6b

Describe the qualities of the distribution of the inspections scores based on your bar plot. Consider the mode(s), symmetry, tails, gaps, and anamolous values. Are there any unusual features of this distribution? What do your observations imply about the scores?

In [ ]:
q6b_answer = r"""

Put your answer here, replacing this text. Do not take into account the ### YOUR CODE HERE below

"""

# YOUR CODE HERE
raise NotImplementedError()

print(q6b_answer)

### Question 6c

Let's figure out which restaurants had the worst scores ever. Let's start by creating a new dataframe called `ins_named`. It should be exactly the same as `ins`, except that it should have the name and address of every business, as determined by the `bus` dataframe. If a `business_id` in `ins` does not exist in `bus`, the name and address should be given as NaN.

*Hint: Use the merge method to join the `ins` dataframe with the appropriate portion of the `bus` dataframe.*

In [ ]:
ins_named = ...

# YOUR CODE HERE
raise NotImplementedError()

Using this data frame, identify the restaurant with the lowest inspection scores ever. Optionally: head to yelp.com and look up the reviews page for this restaurant. Copy and paste anything interesting you want to share.

In [ ]:
q6c_answer = r"""

Put your answer here, replacing this text. Do not take into account the ### YOUR CODE HERE below

"""

# YOUR CODE HERE
raise NotImplementedError()

print(q6c_answer)

Just for fun you can also look up the restaurants with the best scores. You'll see that lots of them aren't restaurants at all!

---
## 7: Restaurant Ratings Over Time

Let's consider various scenarios involving restaurants with multiple ratings over time.

### Question 7a

Let's see which restaurant has had the most extreme change in their ratings. Let the "swing" of a restaurant be defined as the difference between its lowest and highest ever rating. If a restaurant has been reviewed fewer than two times, its swing is zero. Using whatever technique you want to use, identify the three restaurants that are tied for the maximum swing value.

In [ ]:
q7a_answer = r"""

Put your answer here, replacing this text. Do not take into account the ### YOUR CODE HERE below

"""

# YOUR CODE HERE
raise NotImplementedError()

print(q7a_answer)

### Question 7b

To get a sense of the number of times each restaurant has been inspected, create a multi-indexed dataframe called `inspections_by_id_and_year` where each row corresponds to data about a given business in a single year, and there is a single data column named `count` that represents the number of inspections for that business in that year. The first index in the MultiIndex should be on `business_id`, and the second should be on `year`.

An example row in this dataframe might look tell you that business_id is 573, year is 2017, and count is 4.

*Hint: Use groupby to group based on both the `business_id` and the `year`.*

*Hint: Use rename to change the name of the column to `count`.*

In [ ]:
inspections_by_id_and_year = ...

# YOUR CODE HERE
raise NotImplementedError()

Do not edit the empty cell below!

You should see that some businesses are inspected many times in a single year. Let's get a sense of the distribution of the counts of the number of inspections by calling `value_counts`. There are quite a lot of businesses with 2 inspections in the same year, so it seems like it might be interesting to see what we can learn from such businesses.

In [ ]:
inspections_by_id_and_year['count'].value_counts()

### Question 7c

What's the relationship between the first and second scores for the businesses with 2 inspections in a year? Do they typically improve? For simplicity, let's focus on only 2016 for this problem.

First, make a dataframe called `scores_pairs_by_business` indexed by `business_id` (containing only businesses with exactly 2 inspections in 2016).  This dataframe contains the field `score_pair` consisting of the score pairs ordered chronologically  `[first_score, second_score]`. 

Plot these scores. That is, make a scatter plot to display these pairs of scores. Include on the plot a reference line with slope 1. 

You may find the functions `sort_values`, `groupby`, `filter` and `agg` helpful, though not all necessary. 

The first few rows of the resulting table should look something like:

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>score_pair</th>
    </tr>
    <tr>
      <th>business_id</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>24</th>
      <td>[96, 98]</td>
    </tr>
    <tr>
      <th>45</th>
      <td>[78, 84]</td>
    </tr>
    <tr>
      <th>66</th>
      <td>[98, 100]</td>
    </tr>
    <tr>
      <th>67</th>
      <td>[87, 94]</td>
    </tr>
    <tr>
      <th>76</th>
      <td>[100, 98]</td>
    </tr>
  </tbody>
</table>

The scatter plot shoud look like this:

<img src="scat.png" width=400>
*Note: Each score pair must be a list type; numpy arrays will not pass the autograder.*

*Hint: Use the `filter` method from lecture 3 to create a new dataframe that only contains restaurants that received exactly 2 inspections.*

*Hint: Our answer is a single line of code that uses `sort_values`, `groupby`, `filter`, `groupby`, `agg`, and `rename` in that order. Your answer does not need to use these exact methods.*

In [ ]:
scores_pairs_by_business = ...

# For some odd reason, we can't just pass `list` into `.agg` so we define this function:
# You may or may not use it

ins2016 = ins[ins['year'] == 2016]

def group_to_list(group):
    return list(group)

# YOUR CODE HERE
raise NotImplementedError()

In [ ]:
assert isinstance(scores_pairs_by_business, pd.DataFrame)
assert scores_pairs_by_business.columns == ['score_pair']

In [ ]:
# Create scatter plot here.

# YOUR CODE HERE
raise NotImplementedError()

### Question 7d

Another way to compare the scores from the two inspections is to examine the difference in scores. Subtract the first score from the second in `scores_pairs_by_business`. Make a histogram of these differences in the scores. We might expect these differences to be positive, indicating an improvement from the first to the second inspection.

The histogram should look like this:

<img src="hist_2.png" width=400>

*Hint: Use `second_score` and `first_score` created in the scatter plot code above.*

*Hint: Convert the scores into numpy arrays to make them easier to deal with.*

*Hint: Try changing the number of bins when you call plt.hist.*

In [ ]:
# Create histogram here
# YOUR CODE HERE
raise NotImplementedError()

### Question 7e

If a restaurant's score improves from the first to the second inspection, what do you expect to see in the scatter plot that you made in question 7c? What do you see?

If a restaurant's score improves from the first to the second inspection, how would this be reflected in the histogram of the difference in the scores that you made in question 7d? What do you see?

In [ ]:
q7c_answer = r"""

Put your answer here, replacing this text. Do not take into account the ###YOUR CODE HERE below.

"""

# YOUR CODE HERE
raise NotImplementedError()

print(q7c_answer)

## Summary of the Inspections Data

What we have learned about the inspections data? What might be some next steps in our investigation? 

* We found that the records are at the inspection level and that we have inspections for multiple years.   
* We also found that many restaurants have more than one inspection a year. 
* By joining the business and inspection data, we identified the name of the restaurant with the worst rating and optionally the names of the restaurants with the best rating.
* We identified the restaurants that have had the largest swing in rating over time.
* We also examined the relationship between the scores when a restaurant has multiple inspections in a year. Our findings were a bit counterintuitive and may warrant further investigation.

## Congrats !

Congrats! You are finished with HW1.

## Submission

You're done!

Before submitting this assignment, ensure to:

1. Restart the Kernel (in the menubar, select Kernel->Restart & Run All)
2. Validate the notebook by clicking the "Validate" button

Finally, make sure to **submit** the assignment via the Assignments tab in Datahub